@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');


body{
    background-color: #47318d;    
}

.outfit{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 ;
    font-style: normal;
}

.outfit-thin{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200 ;
    font-style: normal;
}

canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: -4;
    filter: brightness(125%);
    opacity: 0.8;
}

.sora {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}